<head>
  <% include ../partials/head %>
  <link href="/projects.css" rel="stylesheet" type="text/css" />
  <script>
    function func1() {
      //alert("inside func 1");
      var element = document.getElementById("containerID");
      element.classList.remove("mystyle");
      console.log("inside func 1");

      var element1 = document.getElementById("imageID");
      //element1.classList.remove("myheader");
      console.log("inside func 2");
    }
    function func2() {
      //code for adding new class 3D

      var element = document.getElementById("containerID");
      element.classList.add("mystyle");
      console.log("inside func 2");

      var element1 = document.getElementById("imageID");
      //element1.classList.add("myheader");
      console.log("inside func 2");
    }


  </script>
</head>
<body>

    <canvas id="myCanvas" width="350" height="100" style="border:1px solid #d3d3d3;margin-left: 200px">
        Your browser does not support the HTML5 canvas tag.</canvas>
        
        <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.font = "30px Arial";
        ctx.fontColor = "yellow";
        ctx.fillText("Nasa Data on canvas",10,50);
        </script>
  <div class="container" id="containerID">
  <div class="sapce-agency-title-div">
    <div class="shadow"></div>
    <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png">
  </div>
  <div class="container">
    <% for(var i=0; i < data.length; i++) { %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img
              class="space-img"
              onmousemove="func2(this)"
              onmouseout="func1(this)"
              src="<%= data[i].image_url %>"
              alt=""
            />
          </div>
          <div class="col-md-8" id="imageID">
            <h3 class="space-title">
              <%= data[i].name %>
            </h3>
            <h4 class="space-time">
              <%= data[i].start_date %> - <%= data[i].end_date %>
            </h4>
            <p class="space-desc"><%= data[i].description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <% } %>
  </div>
  <div id="particles-js"></div>

  <script type="text/javascript" src="/particles.js"></script>
  <script type="text/javascript" src="/config.js"></script>
</body>
