<head>
  <% include ../partials/head %>
  <link href="/projects.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="sapce-agency-title-div">
    <div class="shadow"></div>
    <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png">
  </div>
  <div class="container">
    <% for(var i=0; i < data.length; i++) { %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img class="space-img" src="<%= data[i].image_url %>" alt="" />
          </div>
          <div class="col-md-8">
            <h3 class="space-title"><%= data[i].name %></h3>
            <h4 class="space-time">
              <%= data[i].start_date %> - <%= data[i].end_date %>
            </h4>
            <p class="space-desc"><%= data[i].description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <% } %>
  </div>
  <div id="particles-js"></div>

  <script type="text/javascript" src="/particles.js"></script>
  <script type="text/javascript" src="/config.js"></script>
</body>
