<head>
  <% include ../partials/head %>
  <link href="../../public/projects.css" rel="stylesheet" type="text/css" />
</head>

<body class="container">
  <div class="jumbotron">
    <h1 class="display-1">welcome</h1>
  </div>

  <span display="inline">
    <div class="card" style="width: 18rem;">
      <img
        src="http://farm9.staticflickr.com/8337/8241913870_77dae6d471_m.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">NASA</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="https://www.nasa.gov/" target="_blank" class="btn btn-primary"
          >Visit Official Site</a
        >
        <a href="/auth/infoNasa" target="_blank" class="btn btn-primary"
          >Visit info Site</a
        >
      </div>
    </div>
  </span>
  <div class="container">
    <% for(var i=0; i < data.length; i++) { %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <img
              class="space-img"
              src="<%= data[i].image_url %>"
              alt=""
              style="width: 100%; height: auto%; object-fit:cover"
            />
          </div>
          <div class="col-md-8">
            <h3 class="space-title"><%= data[i].name %></h3>
            <h4 class="space-time">
              <%= data[i].start_date %> - <%= data[i].end_date %>
            </h4>
            <p class="space-desc"><%= data[i].description %></p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</body>
